<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block meta %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid my-3">
      <main class="row justify-content-center">
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">На сайт</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.index') }}">Админка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.create_article') }}">Написать статью</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.settings') }}">Настройки</a>
            </li>
          </ul>
        </div>
        <div class="col">
          {% include 'alert.html' %}
          {% block body %}{% endblock %}
        </div>
      </main>
      {% block scripts %}{% endblock %}
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    </div>
  </body>
</html>
